body{
    background-image: linear-gradient(
        to bottom,
        rgba(255, 153, 0, 0.406),
        rgba(0, 0, 255, 0.5)
  ), url("psimg.jpg");
  .column {
    float: left;
    width: 46%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
